@import url('https://fonts.googleapis.com/css?family=Merriweather');
html { font-family: sans-serif; background: #242752; }

/*distacco dai bordi della parte inserimento dati*/
body {margin: 0; padding: 0;}

/*stile scritta login*/
h1 ul {font-family: "Merriweather","fantasy";color: hsl(128, 13%, 53%);} 
h1 ul {border:none; display:flex; align-items:center}


/*distacco dai bordi della barra superiore*/
nav {margin:10px;}

/*barra superiore di scelta log in log out*/
nav { background: #f5f5dc; display: flex; align-items: center; padding: 0 0.5rem; border-radius: 10px;}
nav h1 { flex: auto; margin: 0; }

/*riga separazione titolo login e insermento dati*/
/* .content > header { border-bottom: 4px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; } */

/*bottoni*/
li {padding: 0.5rem 1rem;background-color: #77977b;text-decoration: none;border-radius: 5px;}
li {margin-bottom: 10px;}
ul {list-style-type: none;}

/*spazio tra la scritta login*/
h1 {margin-left:20px;}

/*a {color:} */



/* 
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: 'Merriweather','fantasy'; color: #221246; margin: auto; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; } */

/* nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }  */
/* nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

/* .content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; } */
/* .post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; } */
/* input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; } */






