{% extends 'base.html' %}

{% block header %}
<h1 class="text-center mb-4">{{ film.title }}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <div class="player-container position-relative">
                <video id="video" class="w-100 rounded" controls></video>

                <select id="quality" class="quality-select">
                    <option value="-1">Auto</option>
                </select>
            </div>

            <div class="mt-3 text-muted">
                
                <p>{{ film.description }}</p>
                <p><strong>Genere:</strong> {{ film.get_film_genres_str() }}</p>
                <p><strong>Views:</strong> {{ film.views }}</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<script>
    const video = document.getElementById('video');
    const qualitySelect = document.getElementById('quality');

    if (Hls.isSupported()) {
        const hls = new Hls({
            maxBufferLength: 12,
            maxMaxBufferLength: 24,
            maxBufferSize: 60 * 1000 * 1000,
            maxBufferHole: 0.5
        });

        hls.loadSource("/streaming/hls/{{ film.id }}/master.m3u8");
        hls.attachMedia(video);

        hls.on(Hls.Events.MANIFEST_PARSED, () => {
            hls.levels.forEach((level, index) => {
                const option = document.createElement('option');
                option.value = index;
                option.text = level.height + "p";
                qualitySelect.add(option);
            });


            hls.currentLevel = -1;

            video.pause();
        });

        qualitySelect.addEventListener('change', () => {
            hls.currentLevel = parseInt(qualitySelect.value);
        });

    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = "/streaming/hls/{{ film.id }}/master.m3u8";
    }
</script>
{% endblock %}
